# Read a csv file

In [100]:
import pandas as pd
csv_data = open('DataCleansing.csv','r')
df = pd.read_csv(csv_data, header=0, index_col=None)

# 기본 데이터 파악

In [101]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,1,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000

In [102]:
%pwd

u'/home/pirl/Desktop/\uc218\uc5c5\uc790\ub8cc/datacleanse_practice'

In [103]:
#add = %pwd
#add + '/DataCleansing.csv'

In [104]:
'''
import pandas as pd
csv_data = open(add + '/DataCleansing.csv','r')
df = pd.read_csv(csv_data, header=0, index_col=None)
'''

"\nimport pandas as pd\ncsv_data = open(add + '/DataCleansing.csv','r')\ndf = pd.read_csv(csv_data, header=0, index_col=None)\n"

In [105]:
df.shape

(1500, 9)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
Customer        1500 non-null int64
SSN             1500 non-null object
Birthdate       1500 non-null object
Age             1500 non-null int64
Region          1500 non-null object
CredCardUser    1500 non-null int64
Income          1500 non-null int64
Purchases       1500 non-null int64
AmountSpent     1500 non-null int64
dtypes: int64(6), object(3)
memory usage: 105.5+ KB

In [107]:
df.isnull().sum()

Customer        0
SSN             0
Birthdate       0
Age             0
Region          0
CredCardUser    0
Income          0
Purchases       0
AmountSpent     0
dtype: int64

In [108]:
df.describe()

,Customer,Age,CredCardUser,Income,Purchases,AmountSpent
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,750.500000,45.792000,0.399333,89740.211333,122.901333,1560.954667
std,433.157015,15.226138,0.489925,41302.183117,1088.786866,1244.909343
min,1.000000,-31.000000,0.000000,22.000000,0.000000,0.000000
25%,375.750000,34.000000,0.000000,55450.000000,2.000000,940.000000
50%,750.500000,47.000000,0.000000,90100.000000,3.000000,1460.000000
75%,1125.250000,58.000000,1.000000,124825.000000,4.000000,2020.000000
max,1500.000000,72.000000,1.000000,160000.000000,9999.000000,9999.000000

In [109]:
df[df.duplicated()]

Empty DataFrame
Columns: [Customer, SSN, Birthdate, Age, Region, CredCardUser, Income, Purchases, AmountSpent]
Index: []

# Find duplicated SSNs

get_duplicates

In [110]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,1,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000

In [111]:
df.set_index('SSN').index

Index([u'539-84-9599', u'444-05-4079', u'418-18-5649', u'065-63-3311',
       u'059-58-9566', u'443-13-8685', u'638-89-7231', u'202-94-6453',
       u'266-29-0308', u'943-85-8301',
       ...
       u'766-67-0139', u'251-91-5281', u'542-84-9996', u'880-57-0607',
       u'632-29-6841', u'347-70-0762', u'638-19-2849', u'670-57-4549',
       u'166-84-2698', u'366-03-5021'],
      dtype='object', name=u'SSN', length=1500)

In [112]:
df.set_index('SSN').index.get_duplicates()

['283-42-4994', '680-00-1375']

# The number of duplicated SSNs

value_counts

In [113]:
df.SSN.value_counts()

680-00-1375    2
283-42-4994    2
366-87-6081    1
388-54-9400    1
966-85-2429    1
845-98-0842    1
602-88-3596    1
794-37-2075    1
364-94-9180    1
058-70-2208    1
640-10-2682    1
001-43-2336    1
557-92-4187    1
528-10-8596    1
992-10-9786    1
266-88-7218    1
148-76-5664    1
920-12-1121    1
897-09-0957    1
262-58-2100    1
803-24-4193    1
952-80-6042    1
335-77-7786    1
269-62-0603    1
438-36-2724    1
619-90-2506    1
719-04-5114    1
185-56-6648    1
930-59-9609    1
509-84-3069    1
              ..
983-46-2996    1
712-36-8543    1
494-65-2606    1
912-15-5028    1
181-76-4160    1
116-66-6831    1
907-46-7393    1
066-43-9484    1
586-87-0627    1
579-24-1299    1
285-86-2562    1
607-31-2701    1
081-45-2678    1
530-98-1115    1
626-94-3937    1
914-80-0287    1
362-89-4824    1
241-86-3823    1
077-72-3796    1
249-15-5386    1
498-98-3229    1
169-31-5478    1
964-27-4755    1
011-02-6234    1
416-41-5038    1
820-33-2287    1
329-51-3208    1
768-00-0968    1
627-23-1966    1
072-31-6181    1
Name: SSN, Length: 1498, dtype: int64

In [114]:
SSN = df.SSN.value_counts()
SSN

680-00-1375    2
283-42-4994    2
366-87-6081    1
388-54-9400    1
966-85-2429    1
845-98-0842    1
602-88-3596    1
794-37-2075    1
364-94-9180    1
058-70-2208    1
640-10-2682    1
001-43-2336    1
557-92-4187    1
528-10-8596    1
992-10-9786    1
266-88-7218    1
148-76-5664    1
920-12-1121    1
897-09-0957    1
262-58-2100    1
803-24-4193    1
952-80-6042    1
335-77-7786    1
269-62-0603    1
438-36-2724    1
619-90-2506    1
719-04-5114    1
185-56-6648    1
930-59-9609    1
509-84-3069    1
              ..
983-46-2996    1
712-36-8543    1
494-65-2606    1
912-15-5028    1
181-76-4160    1
116-66-6831    1
907-46-7393    1
066-43-9484    1
586-87-0627    1
579-24-1299    1
285-86-2562    1
607-31-2701    1
081-45-2678    1
530-98-1115    1
626-94-3937    1
914-80-0287    1
362-89-4824    1
241-86-3823    1
077-72-3796    1
249-15-5386    1
498-98-3229    1
169-31-5478    1
964-27-4755    1
011-02-6234    1
416-41-5038    1
820-33-2287    1
329-51-3208    1
768-00-0968    1
627-23-1966    1
072-31-6181    1
Name: SSN, Length: 1498, dtype: int64

In [115]:
SSN[SSN > 1]

680-00-1375    2
283-42-4994    2
Name: SSN, dtype: int64

# Show duplicated rows

값으로 직접 확인

In [116]:
df[df['SSN'] == '680-00-1375']

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740

In [117]:
df[df.duplicated('SSN', keep = False)]

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
368,369,283-42-4994,04.16.66,32,South,1,100000,5,2500
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740
617,618,283-42-4994,05.22.66,32,East,0,133200,3,1460

In [118]:
df[df.duplicated('SSN', keep = 'last')]

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
368,369,283-42-4994,04.16.66,32,South,1,100000,5,2500

In [119]:
df[df.duplicated('SSN')]

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740
617,618,283-42-4994,05.22.66,32,East,0,133200,3,1460

duplicated

In [120]:
df.set_index('SSN').index.get_duplicates()

['283-42-4994', '680-00-1375']

for 구문 활용

In [121]:
[df[df['SSN'] == elem] for elem in df.set_index('SSN').index.get_duplicates()]

[     Customer          SSN Birthdate  Age Region  CredCardUser  Income  \
 368       369  283-42-4994  04.16.66   32  South             1  100000
 617       618  283-42-4994  05.22.66   32   East             0  133200

      Purchases  AmountSpent
 368          5         2500
 617          3         1460  ,
      Customer          SSN Birthdate  Age  Region  CredCardUser  Income  \
 158       159  680-00-1375  09.28.48   50   North             1  139500
 463       464  680-00-1375  10.19.33   65   North             1   97000

      Purchases  AmountSpent
 158          4         2050
 463          5         2740  ]

참고 - query 함수 이용

In [122]:
SSN_duplicated = df.set_index('SSN').index.get_duplicates()
df.query('SSN in @SSN_duplicated')

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
368,369,283-42-4994,04.16.66,32,South,1,100000,5,2500
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740
617,618,283-42-4994,05.22.66,32,East,0,133200,3,1460

In [123]:
df.query("SSN == '680-00-1375'")

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
158,159,680-00-1375,09.28.48,50,North,1,139500,4,2050
463,464,680-00-1375,10.19.33,65,North,1,97000,5,2740

# delete duplicated rows

값으로 직접 지우기

In [124]:
df_deleted = df[df.Customer != 464]
df_deleted

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,1,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000
5,6,443-13-8685,03.24.60,39,East,0,139700,1,550
6,7,638-89-7231,12.02.43,55,South,1,50900,3,1400
7,8,202-94-6453,11.08.74,24,South,1,50500,0,0
8,9,266-29-0308,09.28.67,31,North,0,151400,2,910
9,10,943-85-8301,07.05.65,33,West,0,88300,2,1080
10,11,047-07-5332,11.13.64,34,North,0,120300,3,1390
11,12,503-14-3400,03.21.34,65,East,0,25800,1,560
12,13,690-97-5817,12.29.60,38,West,0,65500,1,410
13,14,614-59-6703,08.01.72,26,South,1,54400,9999,9999
14,15,704-98-5642,05.01.52,46,North,0,54500,7,3570
15,16,588-92-9590,08.29.39,59,South,0,143500,2,1070
16,17,267-58-0440,04.05.57,42,East,1,40500,2,950
17,18,833-81-4506,11.01.67,31,West,1,61900,2,930
18,19,645-20-8840,03.02.58,41,West,1,106300,2,1010
19,20,700-29-4704,01.10.33,66,South,0,133700,3,1570
20,21,443-16-6366,11.28.38,60,South,1,101900,3,1560
21,22,932-34-0537,09.22.47,51,West,0,83000,3,1440
22,23,943-09-9693,12.08.76,22,North,1,150500,0,0
23,24,429-27-7896,09.08.30,68,North,0,24600,2,1080
24,25,977-81-8641,07.03.62,36,East,0,108500,6,3220
25,26,637-52-5564,01.28.53,46,East,0,92600,5,2260
26,27,208-24-5411,11.05.45,53,East,0,129100,1,580
27,28,326-15-9711,02.08.62,37,East,1,101500,2,1040
28,29,437-20-5008,10.20.41,57,East,0,75800,3,1640
29,30,168-38-3752,01.10.51,48,East,0,80500,7,3640
...,...,...,...,...,...,...,...,...,...
1470,1471,491-57-3083,05.02.60,38,South,0,86500,2,1110
1471,1472,368-23-0763,04.24.50,48,East,0,126800,1,510
1472,1473,955-75-1871,10.10.44,54,North,0,106300,3,1510
1473,1474,398-78-6899,12.17.74,24,East,1,58700,2,1040
1474,1475,592-76-2035,12.19.58,40,East,0,31000,4,1830
1475,1476,178-44-7525,01.12.62,37,North,1,110800,4,1930
1476,1477,070-93-0068,08.23.52,46,North,1,20000,6,3060
1477,1478,265-89-7966,04.18.71,27,North,0,57800,4,1900
1478,1479,208-32-8324,08.25.56,42,East,0,154100,0,0
1479,1480,276-36-6086,07.25.44,54,West,0,54800,2,1000
1480,1481,005-06-4020,06.16.52,46,South,1,42700,6,2890
1481,1482,825-37-4303,10.24.61,37,East,0,70900,1,510
1482,1483,425-06-5062,04.29.65,33,North,1,65600,5,2500
1483,1484,883-36-5815,11.23.71,27,North,1,134600,3,1500
1484,1485,664-44-3655,01.20.33,66,East,1,117900,6,3310
1485,1486,038-72-8622,04.19.65,33,West,1,117900,3,1460
1486,1487,496-69-6574,08.06.33,65,East,1,111200,1,560
1487,1488,782-98-9539,12.27.55,43,South,0,63000,2,1030
1488,1489,642-14-9012,01.16.34,65,North,0,36400,3,1360
1489,1490,287-48-5517,07.21.30,68,South,0,114500,3,1500
1490,1491,766-67-0139,03.15.42,57,North,0,64300,5,2330
1491,1492,251-91-5281,02.10.64,35,South,0,126600,2,940
1492,1493,542-84-9996,11.03.75,23,South,1,29700,3,1640
1493,1494,880-57-0607,03.14.48,51,West,0,102700,5,2480
1494,1495,632-29-6841,02.06.45,54,West,1,89700,2,1000
1495,1496,347-70-0762,09.28.65,33,West,0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0,121400,1,530

drop_duplicates

In [125]:
df_no_duplicte = df.drop_duplicates('SSN')  #keep last - keep last, erase first. keep first - vice versa.
#inplace = False is default. if True, change the original data 
df_no_duplicte = df.drop_duplicates('SSN', keep = False)
df_no_duplicte

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,1,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000
5,6,443-13-8685,03.24.60,39,East,0,139700,1,550
6,7,638-89-7231,12.02.43,55,South,1,50900,3,1400
7,8,202-94-6453,11.08.74,24,South,1,50500,0,0
8,9,266-29-0308,09.28.67,31,North,0,151400,2,910
9,10,943-85-8301,07.05.65,33,West,0,88300,2,1080
10,11,047-07-5332,11.13.64,34,North,0,120300,3,1390
11,12,503-14-3400,03.21.34,65,East,0,25800,1,560
12,13,690-97-5817,12.29.60,38,West,0,65500,1,410
13,14,614-59-6703,08.01.72,26,South,1,54400,9999,9999
14,15,704-98-5642,05.01.52,46,North,0,54500,7,3570
15,16,588-92-9590,08.29.39,59,South,0,143500,2,1070
16,17,267-58-0440,04.05.57,42,East,1,40500,2,950
17,18,833-81-4506,11.01.67,31,West,1,61900,2,930
18,19,645-20-8840,03.02.58,41,West,1,106300,2,1010
19,20,700-29-4704,01.10.33,66,South,0,133700,3,1570
20,21,443-16-6366,11.28.38,60,South,1,101900,3,1560
21,22,932-34-0537,09.22.47,51,West,0,83000,3,1440
22,23,943-09-9693,12.08.76,22,North,1,150500,0,0
23,24,429-27-7896,09.08.30,68,North,0,24600,2,1080
24,25,977-81-8641,07.03.62,36,East,0,108500,6,3220
25,26,637-52-5564,01.28.53,46,East,0,92600,5,2260
26,27,208-24-5411,11.05.45,53,East,0,129100,1,580
27,28,326-15-9711,02.08.62,37,East,1,101500,2,1040
28,29,437-20-5008,10.20.41,57,East,0,75800,3,1640
29,30,168-38-3752,01.10.51,48,East,0,80500,7,3640
...,...,...,...,...,...,...,...,...,...
1470,1471,491-57-3083,05.02.60,38,South,0,86500,2,1110
1471,1472,368-23-0763,04.24.50,48,East,0,126800,1,510
1472,1473,955-75-1871,10.10.44,54,North,0,106300,3,1510
1473,1474,398-78-6899,12.17.74,24,East,1,58700,2,1040
1474,1475,592-76-2035,12.19.58,40,East,0,31000,4,1830
1475,1476,178-44-7525,01.12.62,37,North,1,110800,4,1930
1476,1477,070-93-0068,08.23.52,46,North,1,20000,6,3060
1477,1478,265-89-7966,04.18.71,27,North,0,57800,4,1900
1478,1479,208-32-8324,08.25.56,42,East,0,154100,0,0
1479,1480,276-36-6086,07.25.44,54,West,0,54800,2,1000
1480,1481,005-06-4020,06.16.52,46,South,1,42700,6,2890
1481,1482,825-37-4303,10.24.61,37,East,0,70900,1,510
1482,1483,425-06-5062,04.29.65,33,North,1,65600,5,2500
1483,1484,883-36-5815,11.23.71,27,North,1,134600,3,1500
1484,1485,664-44-3655,01.20.33,66,East,1,117900,6,3310
1485,1486,038-72-8622,04.19.65,33,West,1,117900,3,1460
1486,1487,496-69-6574,08.06.33,65,East,1,111200,1,560
1487,1488,782-98-9539,12.27.55,43,South,0,63000,2,1030
1488,1489,642-14-9012,01.16.34,65,North,0,36400,3,1360
1489,1490,287-48-5517,07.21.30,68,South,0,114500,3,1500
1490,1491,766-67-0139,03.15.42,57,North,0,64300,5,2330
1491,1492,251-91-5281,02.10.64,35,South,0,126600,2,940
1492,1493,542-84-9996,11.03.75,23,South,1,29700,3,1640
1493,1494,880-57-0607,03.14.48,51,West,0,102700,5,2480
1494,1495,632-29-6841,02.06.45,54,West,1,89700,2,1000
1495,1496,347-70-0762,09.28.65,33,West,0,71800,2,970
1496,1497,638-19-2849,07.31.30,68,South,0,121100,5,2540
1497,1498,670-57-4549,07.21.54,44,North,1,64000,4,2160
1498,1499,166-84-2698,10.30.66,32,South,0,91000,6,2910
1499,1500,366-03-5021,09.23.34,64,South,0,121400,1,530

# Birthday

## Birthdate 타입 변경

In [126]:
import pandas as pd
csv_data = open('DataCleansing.csv','r')
df = pd.read_csv(csv_data, header=0, index_col=None)

In [127]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,10.26.44,72,East,0,62900,4,2080
1,2,444-05-4079,01.01.32,67,West,1,23300,0,0
2,3,418-18-5649,08.17.73,25,East,1,48700,8,3990
3,4,065-63-3311,08.02.47,51,West,1,137600,2,920
4,5,059-58-9566,10.03.48,50,East,0,101400,2,1000

In [128]:
import datetime as dt
df['Birthdate'] = df['Birthdate'].apply(lambda x: dt.datetime.strptime(x, '%m.%d.%y'))
df.info()
# to do

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
Customer        1500 non-null int64
SSN             1500 non-null object
Birthdate       1500 non-null datetime64[ns]
Age             1500 non-null int64
Region          1500 non-null object
CredCardUser    1500 non-null int64
Income          1500 non-null int64
Purchases       1500 non-null int64
AmountSpent     1500 non-null int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 105.5+ KB

In [129]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,2044-10-26,72,East,0,62900,4,2080
1,2,444-05-4079,2032-01-01,67,West,1,23300,0,0
2,3,418-18-5649,1973-08-17,25,East,1,48700,8,3990
3,4,065-63-3311,2047-08-02,51,West,1,137600,2,920
4,5,059-58-9566,2048-10-03,50,East,0,101400,2,1000

## 잘못된 날짜 조정

replace 함수 활용

In [130]:
df.loc[0, 'Birthdate'].year

2044

In [131]:
for index in df.index:
    elem = df.loc[index,'Birthdate']
    if(elem.year > 2017):
        df.loc[index, 'Birthdate'] = df.loc[index, 'Birthdate'].replace(year=elem.year-100)

In [132]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,72,East,0,62900,4,2080
1,2,444-05-4079,1932-01-01,67,West,1,23300,0,0
2,3,418-18-5649,1973-08-17,25,East,1,48700,8,3990
3,4,065-63-3311,1947-08-02,51,West,1,137600,2,920
4,5,059-58-9566,1948-10-03,50,East,0,101400,2,1000

In [133]:
df['Birthdate'] = df['Birthdate'].apply(lambda x: x.replace(year = x.year-100) if (x.year>2017) else x)

In [134]:
df

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,72,East,0,62900,4,2080
1,2,444-05-4079,1932-01-01,67,West,1,23300,0,0
2,3,418-18-5649,1973-08-17,25,East,1,48700,8,3990
3,4,065-63-3311,1947-08-02,51,West,1,137600,2,920
4,5,059-58-9566,1948-10-03,50,East,0,101400,2,1000
5,6,443-13-8685,1960-03-24,39,East,0,139700,1,550
6,7,638-89-7231,1943-12-02,55,South,1,50900,3,1400
7,8,202-94-6453,1974-11-08,24,South,1,50500,0,0
8,9,266-29-0308,1967-09-28,31,North,0,151400,2,910
9,10,943-85-8301,1965-07-05,33,West,0,88300,2,1080
10,11,047-07-5332,1964-11-13,34,North,0,120300,3,1390
11,12,503-14-3400,1934-03-21,65,East,0,25800,1,560
12,13,690-97-5817,1960-12-29,38,West,0,65500,1,410
13,14,614-59-6703,1972-08-01,26,South,1,54400,9999,9999
14,15,704-98-5642,1952-05-01,46,North,0,54500,7,3570
15,16,588-92-9590,1939-08-29,59,South,0,143500,2,1070
16,17,267-58-0440,1957-04-05,42,East,1,40500,2,950
17,18,833-81-4506,1967-11-01,31,West,1,61900,2,930
18,19,645-20-8840,1958-03-02,41,West,1,106300,2,1010
19,20,700-29-4704,1933-01-10,66,South,0,133700,3,1570
20,21,443-16-6366,1938-11-28,60,South,1,101900,3,1560
21,22,932-34-0537,1947-09-22,51,West,0,83000,3,1440
22,23,943-09-9693,1976-12-08,22,North,1,150500,0,0
23,24,429-27-7896,1930-09-08,68,North,0,24600,2,1080
24,25,977-81-8641,1962-07-03,36,East,0,108500,6,3220
25,26,637-52-5564,1953-01-28,46,East,0,92600,5,2260
26,27,208-24-5411,1945-11-05,53,East,0,129100,1,580
27,28,326-15-9711,1962-02-08,37,East,1,101500,2,1040
28,29,437-20-5008,1941-10-20,57,East,0,75800,3,1640
29,30,168-38-3752,1951-01-10,48,East,0,80500,7,3640
...,...,...,...,...,...,...,...,...,...
1470,1471,491-57-3083,1960-05-02,38,South,0,86500,2,1110
1471,1472,368-23-0763,1950-04-24,48,East,0,126800,1,510
1472,1473,955-75-1871,1944-10-10,54,North,0,106300,3,1510
1473,1474,398-78-6899,1974-12-17,24,East,1,58700,2,1040
1474,1475,592-76-2035,1958-12-19,40,East,0,31000,4,1830
1475,1476,178-44-7525,1962-01-12,37,North,1,110800,4,1930
1476,1477,070-93-0068,1952-08-23,46,North,1,20000,6,3060
1477,1478,265-89-7966,1971-04-18,27,North,0,57800,4,1900
1478,1479,208-32-8324,1956-08-25,42,East,0,154100,0,0
1479,1480,276-36-6086,1944-07-25,54,West,0,54800,2,1000
1480,1481,005-06-4020,1952-06-16,46,South,1,42700,6,2890
1481,1482,825-37-4303,1961-10-24,37,East,0,70900,1,510
1482,1483,425-06-5062,1965-04-29,33,North,1,65600,5,2500
1483,1484,883-36-5815,1971-11-23,27,North,1,134600,3,1500
1484,1485,664-44-3655,1933-01-20,66,East,1,117900,6,3310
1485,1486,038-72-8622,1965-04-19,33,West,1,117900,3,1460
1486,1487,496-69-6574,1933-08-06,65,East,1,111200,1,560
1487,1488,782-98-9539,1955-12-27,43,South,0,63000,2,1030
1488,1489,642-14-9012,1934-01-16,65,North,0,36400,3,1360
1489,1490,287-48-5517,1930-07-21,68,South,0,114500,3,1500
1490,1491,766-67-0139,1942-03-15,57,North,0,64300,5,2330
1491,1492,251-91-5281,1964-02-10,35,South,0,126600,2,940
1492,1493,542-84-9996,1975-11-03,23,South,1,29700,3,1640
1493,1494,880-57-0607,1948-03-14,51,West,0,102700,5,2480
1494,1495,632-29-6841,1945-02-06,54,West,1,89700,2,1000
1495,1496,347-70-0762,1965-09-28,33,West,0,71800,2,970
1496,1497,638-19-2849,1930-07-31,68,South,0,121100,5,2540
1497,1498,670-57-4549,1954-07-21,44,North,1,64000,4,2160
1498,1499,166-84-2698,1966-10-30,32,South,0,91000,6,2910
1499,1500,366-03-5021,1934-09-23,64,South,0,121400,1,530

apply와 replace 함께 활용

## 나이 조정

In [135]:
df.sort_values('Birthdate')  #ascending or descending sort

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
1036,1037,594-47-1955,1925-08-10,-27,East,1,128300,3,1510
228,229,964-27-4755,1927-01-29,-28,East,0,26700,1,450
1088,1089,808-29-7482,1927-02-28,-28,South,0,90000,5,2580
588,589,776-44-8345,1927-04-16,-29,West,1,59300,2,1030
606,607,626-04-1182,1927-05-17,71,South,1,75900,3,1540
644,645,086-39-4715,1927-05-17,71,North,0,155300,5,2480
1328,1329,678-19-0332,1927-05-17,71,West,0,83900,5,2710
63,64,205-84-3572,1927-05-17,71,East,0,50500,1,490
660,661,212-01-7062,1927-05-17,71,West,0,147900,5,2450
729,730,142-06-2339,1927-05-17,71,West,1,38200,1,510
781,782,183-25-0406,1927-05-17,71,West,0,51600,0,0
812,813,338-58-7652,1927-05-17,71,East,1,47500,2,1020
1178,1179,183-40-5102,1927-05-17,71,East,0,44800,4,1940
1130,1131,602-63-2343,1927-05-17,71,North,1,67800,3,1520
1044,1045,715-28-2884,1927-05-17,71,South,0,82400,4,1850
1067,1068,110-67-7322,1927-05-17,71,North,0,138500,3,1400
753,754,891-12-9133,1927-05-17,71,North,0,77300,4,1980
428,429,279-23-7773,1927-05-17,71,South,0,120300,4,2100
462,463,619-94-0553,1927-05-17,71,East,0,62300,2,930
465,466,365-18-7407,1927-05-17,71,East,0,155400,4,1900
485,486,364-94-9180,1927-05-17,71,West,0,116500,2,1040
493,494,085-32-5438,1927-05-17,71,East,0,103700,1,480
823,824,376-25-7809,1927-11-02,-29,North,1,9999,2,1070
921,922,329-51-3208,1928-03-21,-29,East,1,35400,6,3000
323,324,133-99-5496,1928-05-13,-30,North,0,142500,2,1000
425,426,968-16-0774,1928-09-29,-30,North,0,68400,2,1100
1194,1195,806-70-0226,1928-10-14,-30,West,0,40600,4,1960
1309,1310,380-84-2860,1928-10-17,-30,West,0,91800,2,980
439,440,618-84-1169,1928-10-19,-30,West,1,113600,1,470
147,148,237-88-3817,1929-08-11,-31,South,0,63800,8,3960
...,...,...,...,...,...,...,...,...,...
786,787,002-23-4874,1976-01-31,23,North,0,153000,3,1330
1451,1452,874-40-5083,1976-02-19,23,West,0,62800,2,970
277,278,716-10-5355,1976-03-31,23,East,0,132000,2,1070
119,120,779-58-0888,1976-04-01,23,South,0,82400,3,1540
1347,1348,322-98-9822,1976-04-03,23,North,0,30900,2,520
1142,1143,860-15-4722,1976-04-04,23,South,0,50600,3,1600
1007,1008,020-54-3715,1976-04-09,23,North,1,117700,3,1670
1316,1317,278-74-8504,1976-04-10,23,South,0,98100,1,500
1402,1403,697-98-8980,1976-05-14,22,South,1,25600,3,1460
1269,1270,008-77-0111,1976-06-11,22,West,0,102900,3,1400
87,88,306-91-7822,1976-06-18,22,West,0,22300,6,2970
1077,1078,069-26-0938,1976-06-22,22,North,0,109200,3,1430
809,810,271-37-1335,1976-07-14,22,East,1,76200,3,1630
1368,1369,311-33-0149,1976-07-14,22,North,0,91000,0,0
1068,1069,284-48-2713,1976-07-22,22,North,0,118900,4,2050
280,281,442-76-6612,1976-08-13,22,South,1,55600,6,3050
885,886,120-97-5267,1976-08-20,22,North,1,122600,2,1030
109,110,446-98-7404,1976-09-11,22,East,1,57000,3,1450
1056,1057,821-62-2400,1976-10-17,22,West,0,156200,3,1560
289,290,234-76-1576,1976-10-19,22,South,0,90200,5,2390
327,328,004-10-8303,1976-10-19,22,West,1,49800,4,1940
322,323,823-62-8660,1976-10-24,22,East,1,88500,5,2450
1288,1289,159-74-8545,1976-10-30,22,South,1,77300,1,510
873,874,886-55-9931,1976-10-31,22,West,0,114400,2,1020
1048,1049,320-80-1325,1976-11-11,22,East,0,72000,4,2000
898,899,680-66-6656,1976-11-12,22,North,0,124300,5,2710
829,830,875-31-3461,1976-11-22,22,North,1,73100,6,3140
22,23,943-09-9693,1976-12-08,22,North,1,150500,0,0
702,703,228-19-2271,1976-12-16,22,North,0,25500,3,1480
746,747,144-20-0629,1976-12-17,22,East,0,67700,4,2050

생년월일 이상치 확인

In [136]:
Birthdate = df.Birthdate.value_counts()
Birthdate[Birthdate > 1]

1927-05-17    18
1955-07-08     3
1942-03-15     3
1957-05-25     3
1940-08-17     3
1976-07-14     2
1952-03-22     2
1953-02-07     2
1945-02-21     2
1959-03-12     2
1953-02-11     2
1944-07-23     2
1951-03-29     2
1934-03-15     2
1936-10-14     2
1966-12-23     2
1932-07-12     2
1958-09-11     2
1955-07-10     2
1972-09-22     2
1947-05-27     2
1946-06-08     2
1956-02-26     2
1942-02-03     2
1969-11-03     2
1943-08-02     2
1934-10-16     2
1944-10-26     2
1930-10-29     2
1938-02-14     2
1954-07-08     2
1973-08-19     2
1947-09-20     2
1937-02-02     2
1966-05-14     2
1934-09-23     2
1966-02-12     2
1957-10-14     2
1957-11-09     2
1943-07-10     2
1954-04-05     2
1934-03-21     2
1976-10-19     2
1941-05-06     2
1930-04-12     2
1941-03-30     2
1941-12-14     2
1947-08-02     2
1961-09-16     2
1964-12-24     2
1971-01-22     2
1972-12-01     2
1973-08-17     2
1956-08-25     2
1971-06-23     2
Name: Birthdate, dtype: int64

나이 이상치 확인

나이 계산 다시

In [137]:
from datetime import date, timedelta

In [138]:
#df['Age'] = df['Birthdate'].apply(lambda x: int((date.today() - x.date())/ timedelta(days = 365))) #error
df['Age'] = (date.today() - df['Birthdate']) / timedelta(days = 365)

In [139]:
df

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,72.945205,East,0,62900,4,2080
1,2,444-05-4079,1932-01-01,85.772603,West,1,23300,0,0
2,3,418-18-5649,1973-08-17,44.117808,East,1,48700,8,3990
3,4,065-63-3311,1947-08-02,70.178082,West,1,137600,2,920
4,5,059-58-9566,1948-10-03,69.005479,East,0,101400,2,1000
5,6,443-13-8685,1960-03-24,57.526027,East,0,139700,1,550
6,7,638-89-7231,1943-12-02,73.846575,South,1,50900,3,1400
7,8,202-94-6453,1974-11-08,42.890411,South,1,50500,0,0
8,9,266-29-0308,1967-09-28,50.008219,North,0,151400,2,910
9,10,943-85-8301,1965-07-05,52.241096,West,0,88300,2,1080
10,11,047-07-5332,1964-11-13,52.882192,North,0,120300,3,1390
11,12,503-14-3400,1934-03-21,83.553425,East,0,25800,1,560
12,13,690-97-5817,1960-12-29,56.758904,West,0,65500,1,410
13,14,614-59-6703,1972-08-01,45.161644,South,1,54400,9999,9999
14,15,704-98-5642,1952-05-01,65.427397,North,0,54500,7,3570
15,16,588-92-9590,1939-08-29,78.109589,South,0,143500,2,1070
16,17,267-58-0440,1957-04-05,60.495890,East,1,40500,2,950
17,18,833-81-4506,1967-11-01,49.915068,West,1,61900,2,930
18,19,645-20-8840,1958-03-02,59.589041,West,1,106300,2,1010
19,20,700-29-4704,1933-01-10,84.745205,South,0,133700,3,1570
20,21,443-16-6366,1938-11-28,78.860274,South,1,101900,3,1560
21,22,932-34-0537,1947-09-22,70.038356,West,0,83000,3,1440
22,23,943-09-9693,1976-12-08,40.805479,North,1,150500,0,0
23,24,429-27-7896,1930-09-08,87.087671,North,0,24600,2,1080
24,25,977-81-8641,1962-07-03,55.249315,East,0,108500,6,3220
25,26,637-52-5564,1953-01-28,64.682192,East,0,92600,5,2260
26,27,208-24-5411,1945-11-05,71.917808,East,0,129100,1,580
27,28,326-15-9711,1962-02-08,55.646575,East,1,101500,2,1040
28,29,437-20-5008,1941-10-20,75.964384,East,0,75800,3,1640
29,30,168-38-3752,1951-01-10,66.734247,East,0,80500,7,3640
...,...,...,...,...,...,...,...,...,...
1470,1471,491-57-3083,1960-05-02,57.419178,South,0,86500,2,1110
1471,1472,368-23-0763,1950-04-24,67.449315,East,0,126800,1,510
1472,1473,955-75-1871,1944-10-10,72.989041,North,0,106300,3,1510
1473,1474,398-78-6899,1974-12-17,42.783562,East,1,58700,2,1040
1474,1475,592-76-2035,1958-12-19,58.789041,East,0,31000,4,1830
1475,1476,178-44-7525,1962-01-12,55.720548,North,1,110800,4,1930
1476,1477,070-93-0068,1952-08-23,65.115068,North,1,20000,6,3060
1477,1478,265-89-7966,1971-04-18,46.452055,North,0,57800,4,1900
1478,1479,208-32-8324,1956-08-25,61.106849,East,0,154100,0,0
1479,1480,276-36-6086,1944-07-25,73.200000,West,0,54800,2,1000
1480,1481,005-06-4020,1952-06-16,65.301370,South,1,42700,6,2890
1481,1482,825-37-4303,1961-10-24,55.939726,East,0,70900,1,510
1482,1483,425-06-5062,1965-04-29,52.424658,North,1,65600,5,2500
1483,1484,883-36-5815,1971-11-23,45.852055,North,1,134600,3,1500
1484,1485,664-44-3655,1933-01-20,84.717808,East,1,117900,6,3310
1485,1486,038-72-8622,1965-04-19,52.452055,West,1,117900,3,1460
1486,1487,496-69-6574,1933-08-06,84.175342,East,1,111200,1,560
1487,1488,782-98-9539,1955-12-27,61.769863,South,0,63000,2,1030
1488,1489,642-14-9012,1934-01-16,83.728767,North,0,36400,3,1360
1489,1490,287-48-5517,1930-07-21,87.221918,South,0,114500,3,1500
1490,1491,766-67-0139,1942-03-15,75.564384,North,0,64300,5,2330
1491,1492,251-91-5281,1964-02-10,53.641096,South,0,126600,2,940
1492,1493,542-84-9996,1975-11-03,41.904110,South,1,29700,3,1640
1493,1494,880-57-0607,1948-03-14,69.561644,West,0,102700,5,2480
1494,1495,632-29-6841,1945-02-06,72.663014,West,1,89700,2,1000
1495,1496,347-70-0762,1965-09-28,52.008219,West,0,71800,2,970
1496,1497,638-19-2849,1930-07-31,87.194521,South,0,121100,5,2540
1497,1498,670-57-4549,1954-07-21,63.205479,North,1,64000,4,2160
1498,1499,166-84-2698,1966-10-30,50.920548,South,0,91000,6,2910
1499,1500,366-03-5021,1934-09-23,83.043836,South,0,121400,1,530

# Region

In [143]:
df.head()

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
0,1,539-84-9599,1944-10-26,72.945205,East,0,62900,4,2080
1,2,444-05-4079,1932-01-01,85.772603,West,1,23300,0,0
2,3,418-18-5649,1973-08-17,44.117808,East,1,48700,8,3990
3,4,065-63-3311,1947-08-02,70.178082,West,1,137600,2,920
4,5,059-58-9566,1948-10-03,69.005479,East,0,101400,2,1000

In [150]:
df_R = df.copy()  #df_R = df --> if you change df_R, df which is original data, also changes. so _copy is important

지역 종류 파악

In [151]:
df_R.Region.value_counts()

South     370
East      350
West      338
North     322
 South     37
 East      35
 West      24
 North     24
Name: Region, dtype: int64

### 같은 지역인데 이름이 다른 경우 조정

값 마다 직접 바꾸기

In [ ]:
#df_R['Region'] = df_R['Region'].apply(lambda x: 'South' if x == ' South')

딕셔너리 활용

In [146]:
df_R = df_R.replace({'Region': {' South': 'South', ' East':'East', ' West': 'West', ' North': 'North'}})

In [147]:
df_R.Region.value_counts()

South    407
East     385
West     362
North    346
Name: Region, dtype: int64

공백 지우기 함수 활용

In [152]:
df_R.Region = df_R.Region.str.strip()

In [153]:
df_R.Region.value_counts()

South    407
East     385
West     362
North    346
Name: Region, dtype: int64

# Income

Income 값 분포 확인

In [154]:
df.sort_values('Income')

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
438,439,390-77-9781,1970-06-03,47.326027,West,0,22,8,4160
592,593,744-30-0499,1960-05-04,57.413699,East,0,25,5,2460
1342,1343,435-02-2521,1942-08-24,75.120548,West,1,43,5,2600
924,925,820-65-4438,1932-11-12,84.906849,North,0,55,6,2980
1143,1144,211-02-9333,1934-08-13,83.156164,North,0,71,9999,9999
459,460,756-41-9393,1971-05-14,46.380822,East,0,81,3,1500
406,407,241-86-3823,1959-07-03,58.252055,East,1,88,4,2000
832,833,908-76-1846,1960-09-17,57.041096,West,0,104,4,1970
232,233,924-59-1581,1931-05-12,86.413699,South,0,138,6,2950
50,51,669-39-4544,1933-10-05,84.010959,West,0,149,2,1010
815,816,884-27-5089,1962-03-05,55.578082,North,1,151,2,900
446,447,856-77-6560,1940-01-06,77.753425,South,1,9999,0,0
517,518,378-83-7998,1974-11-02,42.906849,West,1,9999,2,940
1234,1235,470-28-5741,1952-07-01,65.260274,North,0,9999,1,480
569,570,758-72-4033,1970-11-07,46.895890,South,1,9999,3,1520
46,47,601-10-4503,1948-12-19,68.794521,East,1,9999,2,1020
795,796,918-32-8454,1954-03-22,63.536986,North,0,9999,3,1570
604,605,600-05-9780,1958-07-10,59.232877,North,1,9999,0,0
823,824,376-25-7809,1927-11-02,89.939726,North,1,9999,2,1070
526,527,906-06-0341,1952-03-26,65.526027,South,0,9999,3,1590
269,270,985-78-7861,1940-08-17,77.139726,South,0,9999,2,940
1476,1477,070-93-0068,1952-08-23,65.115068,North,1,20000,6,3060
286,287,133-53-5943,1935-09-22,82.046575,North,1,20000,9999,9999
1023,1024,911-88-9367,1943-10-14,73.980822,North,0,20100,2,890
35,36,071-68-0276,1966-06-04,51.326027,North,0,20100,3,1520
851,852,179-09-4170,1963-10-07,53.986301,East,0,20100,3,1490
659,660,940-38-8978,1972-12-25,44.761644,North,1,20600,1,520
958,959,291-83-3665,1939-08-19,78.136986,South,1,20600,5,490
1237,1238,524-94-9288,1930-10-07,87.008219,East,1,20900,1,490
1357,1358,862-30-4596,1947-06-16,70.306849,North,0,21200,6,2980
...,...,...,...,...,...,...,...,...,...
970,971,194-22-7493,1930-03-18,87.564384,West,0,157500,5,2580
1027,1028,183-61-6428,1941-09-16,76.057534,West,0,157700,3,1520
1425,1426,482-44-8033,1970-03-16,47.542466,East,0,157800,1,480
1449,1450,633-81-0805,1956-01-01,61.756164,West,1,157800,7,3410
186,187,970-73-9521,1975-04-28,42.421918,North,0,158100,2,900
814,815,558-83-8118,1939-09-11,78.073973,South,0,158200,4,1950
1352,1353,219-01-0920,1938-10-31,78.936986,East,0,158200,6,2820
279,280,054-58-8104,1963-08-07,54.153425,South,0,158300,2,1120
1010,1011,638-10-5414,1968-07-04,49.241096,West,0,158600,2,1010
337,338,389-86-3710,1958-08-23,59.112329,West,0,158600,3,1600
219,220,148-17-5139,1932-07-12,85.243836,West,0,158600,1,560
294,295,076-10-0890,1961-11-12,55.887671,West,0,158700,4,2040
51,52,318-19-1132,1960-01-25,57.687671,East,0,158700,2,980
162,163,711-72-5796,1936-09-20,81.049315,North,0,158700,2,480
650,651,094-00-1258,1952-03-17,65.550685,West,1,158900,3,1560
1189,1190,225-41-6714,1948-05-16,69.389041,West,1,159000,2,1020
1434,1435,728-37-4208,1969-08-09,48.142466,West,1,159100,2,970
1170,1171,967-49-8339,1941-07-07,76.252055,North,1,159200,3,1470
102,103,551-20-4111,1946-07-01,71.265753,North,1,159300,3,1370
1111,1112,119-23-9048,1967-08-26,50.098630,South,0,159300,1,500
92,93,547-29-5276,1943-03-05,74.591781,South,1,159400,3,1490
1103,1104,978-40-3597,1936-07-06,81.257534,South,0,159500,3,1500
297,298,325-41-2910,1931-05-02,86.441096,South,1,159500,1,460
80,81,717-33-3321,1956-09-03,61.082192,East,0,159500,3,1500
1083,1084,058-09-1127,1962-03-23,55.528767,North,1,159700,3,1530
942,943,051-62-1955,1944-09-03,73.090411,West,1,159700,4,1870
680,681,001-05-3748,1936-03-24,81.542466,North,0,159700,1,530
293,294,728-06-3395,1966-07-12,51.221918,West,0,159800,3,1300
538,539,445-94-4117,1958-02-11,59.641096,East,0,160000,3,1550
454,455,308-15-1508,1975-06-14,42.293151,North,1,160000,2,1050

In [142]:
df_income = df.sort_values('Income')
df_income

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
438,439,390-77-9781,1970-06-03,47.326027,West,0,22,8,4160
592,593,744-30-0499,1960-05-04,57.413699,East,0,25,5,2460
1342,1343,435-02-2521,1942-08-24,75.120548,West,1,43,5,2600
924,925,820-65-4438,1932-11-12,84.906849,North,0,55,6,2980
1143,1144,211-02-9333,1934-08-13,83.156164,North,0,71,9999,9999
459,460,756-41-9393,1971-05-14,46.380822,East,0,81,3,1500
406,407,241-86-3823,1959-07-03,58.252055,East,1,88,4,2000
832,833,908-76-1846,1960-09-17,57.041096,West,0,104,4,1970
232,233,924-59-1581,1931-05-12,86.413699,South,0,138,6,2950
50,51,669-39-4544,1933-10-05,84.010959,West,0,149,2,1010
815,816,884-27-5089,1962-03-05,55.578082,North,1,151,2,900
446,447,856-77-6560,1940-01-06,77.753425,South,1,9999,0,0
517,518,378-83-7998,1974-11-02,42.906849,West,1,9999,2,940
1234,1235,470-28-5741,1952-07-01,65.260274,North,0,9999,1,480
569,570,758-72-4033,1970-11-07,46.895890,South,1,9999,3,1520
46,47,601-10-4503,1948-12-19,68.794521,East,1,9999,2,1020
795,796,918-32-8454,1954-03-22,63.536986,North,0,9999,3,1570
604,605,600-05-9780,1958-07-10,59.232877,North,1,9999,0,0
823,824,376-25-7809,1927-11-02,89.939726,North,1,9999,2,1070
526,527,906-06-0341,1952-03-26,65.526027,South,0,9999,3,1590
269,270,985-78-7861,1940-08-17,77.139726,South,0,9999,2,940
1476,1477,070-93-0068,1952-08-23,65.115068,North,1,20000,6,3060
286,287,133-53-5943,1935-09-22,82.046575,North,1,20000,9999,9999
1023,1024,911-88-9367,1943-10-14,73.980822,North,0,20100,2,890
35,36,071-68-0276,1966-06-04,51.326027,North,0,20100,3,1520
851,852,179-09-4170,1963-10-07,53.986301,East,0,20100,3,1490
659,660,940-38-8978,1972-12-25,44.761644,North,1,20600,1,520
958,959,291-83-3665,1939-08-19,78.136986,South,1,20600,5,490
1237,1238,524-94-9288,1930-10-07,87.008219,East,1,20900,1,490
1357,1358,862-30-4596,1947-06-16,70.306849,North,0,21200,6,2980
...,...,...,...,...,...,...,...,...,...
970,971,194-22-7493,1930-03-18,87.564384,West,0,157500,5,2580
1027,1028,183-61-6428,1941-09-16,76.057534,West,0,157700,3,1520
1425,1426,482-44-8033,1970-03-16,47.542466,East,0,157800,1,480
1449,1450,633-81-0805,1956-01-01,61.756164,West,1,157800,7,3410
186,187,970-73-9521,1975-04-28,42.421918,North,0,158100,2,900
814,815,558-83-8118,1939-09-11,78.073973,South,0,158200,4,1950
1352,1353,219-01-0920,1938-10-31,78.936986,East,0,158200,6,2820
279,280,054-58-8104,1963-08-07,54.153425,South,0,158300,2,1120
1010,1011,638-10-5414,1968-07-04,49.241096,West,0,158600,2,1010
337,338,389-86-3710,1958-08-23,59.112329,West,0,158600,3,1600
219,220,148-17-5139,1932-07-12,85.243836,West,0,158600,1,560
294,295,076-10-0890,1961-11-12,55.887671,West,0,158700,4,2040
51,52,318-19-1132,1960-01-25,57.687671,East,0,158700,2,980
162,163,711-72-5796,1936-09-20,81.049315,North,0,158700,2,480
650,651,094-00-1258,1952-03-17,65.550685,West,1,158900,3,1560
1189,1190,225-41-6714,1948-05-16,69.389041,West,1,159000,2,1020
1434,1435,728-37-4208,1969-08-09,48.142466,West,1,159100,2,970
1170,1171,967-49-8339,1941-07-07,76.252055,North,1,159200,3,1470
102,103,551-20-4111,1946-07-01,71.265753,North,1,159300,3,1370
1111,1112,119-23-9048,1967-08-26,50.098630,South,0,159300,1,500
92,93,547-29-5276,1943-03-05,74.591781,South,1,159400,3,1490
1103,1104,978-40-3597,1936-07-06,81.257534,South,0,159500,3,1500
297,298,325-41-2910,1931-05-02,86.441096,South,1,159500,1,460
80,81,717-33-3321,1956-09-03,61.082192,East,0,159500,3,1500
1083,1084,058-09-1127,1962-03-23,55.528767,North,1,159700,3,1530
942,943,051-62-1955,1944-09-03,73.090411,West,1,159700,4,1870
680,681,001-05-3748,1936-03-24,81.542466,North,0,159700,1,530
293,294,728-06-3395,1966-07-12,51.221918,West,0,159800,3,1300
538,539,445-94-4117,1958-02-11,59.641096,East,0,160000,3,1550
454,455,308-15-1508,1975-06-14,42.293151,North,1,160000,2,1050

In [155]:
df_income.Income.describe()

count      1500.000000
mean      89740.211333
std       41302.183117
min          22.000000
25%       55450.000000
50%       90100.000000
75%      124825.000000
max      160000.000000
Name: Income, dtype: float64

In [156]:
df_income.Income = df_income.Income.apply(lambda x: x*1000 if x < 300 else x)

In [157]:
df_income

,Customer,SSN,Birthdate,Age,Region,CredCardUser,Income,Purchases,AmountSpent
438,439,390-77-9781,1970-06-03,47.326027,West,0,22000,8,4160
592,593,744-30-0499,1960-05-04,57.413699,East,0,25000,5,2460
1342,1343,435-02-2521,1942-08-24,75.120548,West,1,43000,5,2600
924,925,820-65-4438,1932-11-12,84.906849,North,0,55000,6,2980
1143,1144,211-02-9333,1934-08-13,83.156164,North,0,71000,9999,9999
459,460,756-41-9393,1971-05-14,46.380822,East,0,81000,3,1500
406,407,241-86-3823,1959-07-03,58.252055,East,1,88000,4,2000
832,833,908-76-1846,1960-09-17,57.041096,West,0,104000,4,1970
232,233,924-59-1581,1931-05-12,86.413699,South,0,138000,6,2950
50,51,669-39-4544,1933-10-05,84.010959,West,0,149000,2,1010
815,816,884-27-5089,1962-03-05,55.578082,North,1,151000,2,900
446,447,856-77-6560,1940-01-06,77.753425,South,1,9999,0,0
517,518,378-83-7998,1974-11-02,42.906849,West,1,9999,2,940
1234,1235,470-28-5741,1952-07-01,65.260274,North,0,9999,1,480
569,570,758-72-4033,1970-11-07,46.895890,South,1,9999,3,1520
46,47,601-10-4503,1948-12-19,68.794521,East,1,9999,2,1020
795,796,918-32-8454,1954-03-22,63.536986,North,0,9999,3,1570
604,605,600-05-9780,1958-07-10,59.232877,North,1,9999,0,0
823,824,376-25-7809,1927-11-02,89.939726,North,1,9999,2,1070
526,527,906-06-0341,1952-03-26,65.526027,South,0,9999,3,1590
269,270,985-78-7861,1940-08-17,77.139726,South,0,9999,2,940
1476,1477,070-93-0068,1952-08-23,65.115068,North,1,20000,6,3060
286,287,133-53-5943,1935-09-22,82.046575,North,1,20000,9999,9999
1023,1024,911-88-9367,1943-10-14,73.980822,North,0,20100,2,890
35,36,071-68-0276,1966-06-04,51.326027,North,0,20100,3,1520
851,852,179-09-4170,1963-10-07,53.986301,East,0,20100,3,1490
659,660,940-38-8978,1972-12-25,44.761644,North,1,20600,1,520
958,959,291-83-3665,1939-08-19,78.136986,South,1,20600,5,490
1237,1238,524-94-9288,1930-10-07,87.008219,East,1,20900,1,490
1357,1358,862-30-4596,1947-06-16,70.306849,North,0,21200,6,2980
...,...,...,...,...,...,...,...,...,...
970,971,194-22-7493,1930-03-18,87.564384,West,0,157500,5,2580
1027,1028,183-61-6428,1941-09-16,76.057534,West,0,157700,3,1520
1425,1426,482-44-8033,1970-03-16,47.542466,East,0,157800,1,480
1449,1450,633-81-0805,1956-01-01,61.756164,West,1,157800,7,3410
186,187,970-73-9521,1975-04-28,42.421918,North,0,158100,2,900
814,815,558-83-8118,1939-09-11,78.073973,South,0,158200,4,1950
1352,1353,219-01-0920,1938-10-31,78.936986,East,0,158200,6,2820
279,280,054-58-8104,1963-08-07,54.153425,South,0,158300,2,1120
1010,1011,638-10-5414,1968-07-04,49.241096,West,0,158600,2,1010
337,338,389-86-3710,1958-08-23,59.112329,West,0,158600,3,1600
219,220,148-17-5139,1932-07-12,85.243836,West,0,158600,1,560
294,295,076-10-0890,1961-11-12,55.887671,West,0,158700,4,2040
51,52,318-19-1132,1960-01-25,57.687671,East,0,158700,2,980
162,163,711-72-5796,1936-09-20,81.049315,North,0,158700,2,480
650,651,094-00-1258,1952-03-17,65.550685,West,1,158900,3,1560
1189,1190,225-41-6714,1948-05-16,69.389041,West,1,159000,2,1020
1434,1435,728-37-4208,1969-08-09,48.142466,West,1,159100,2,970
1170,1171,967-49-8339,1941-07-07,76.252055,North,1,159200,3,1470
102,103,551-20-4111,1946-07-01,71.265753,North,1,159300,3,1370
1111,1112,119-23-9048,1967-08-26,50.098630,South,0,159300,1,500
92,93,547-29-5276,1943-03-05,74.591781,South,1,159400,3,1490
1103,1104,978-40-3597,1936-07-06,81.257534,South,0,159500,3,1500
297,298,325-41-2910,1931-05-02,86.441096,South,1,159500,1,460
80,81,717-33-3321,1956-09-03,61.082192,East,0,159500,3,1500
1083,1084,058-09-1127,1962-03-23,55.528767,North,1,159700,3,1530
942,943,051-62-1955,1944-09-03,73.090411,West,1,159700,4,1870
680,681,001-05-3748,1936-03-24,81.542466,North,0,159700,1,530
293,294,728-06-3395,1966-07-12,51.221918,West,0,159800,3,1300
538,539,445-94-4117,1958-02-11,59.641096,East,0,160000,3,1550
454,455,308-15-1508,1975-06-14,42.293151,North,1,160000,2,1050

이상 값 보정

In [ ]:
df_income